.jumbotron {
    background-image: url('../images/surfer_header.png');
    height: 80%;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #0B4451;
  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.header { 
    justify-content: center;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.btn btn-primary {
    color: #0B4451;
}

.footer-copyright {
    color: white;
    background-color: #303030;
}